body{
    background-color: #edac1a;
}
header{
    background-color: #7f22bb;
    margin: 0;
}
header img.logo{
    width: 20%;
    margin: .5rem;
}
.hamburger{
    width: 50px;
    padding: 1rem;
}
.hamburger hr{
    margin: .75 0;
    border: 2px solid #ed781a;
}
header nav{
    background-color: #c122bb;
    position: fixed;
    width: 75%;
    top: 7.5rem;
}
header nav a{
    display: block;
    color: #ed781a;
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    border: 2px solid black;
}
header nav{
    left: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .show{
    left: 7.2rem;
}
header nav{
    transition-property: left;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
nav a:hover{
    color: #edac1a;
    text-decoration: underline;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
}
h3{
    font-family: 'Times New Roman', Times, serif;
}
h4{
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
div.drinks-home{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
div.drinks-home img{
    width: 50%;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: #7f22bb;
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
}
.p-home{
    text-align: center;
    padding: 0 0 1rem 0;
}
div.homebase-about{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
div.homebase-about img{
    width: 60%;
    border: 3px solid #c122bb;
}
div.p-about p{
    text-align: center;
    padding: 1rem 1rem 0 1rem;
}
.menu-h2{
    color: #c122bb;
    text-align: center;
}
div.product-menu{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
div.product-menu img{
    width: 70%;
}
.hr-menu{
    border: 2px solid #ed781a;
}
.menu-p{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}
h2{
    color: #c122bb;
}
div.homebase-ordering{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
div.homebase-ordering img{
    width: 70%;
    border: 4px solid #7f22bb;
}
form>label{
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0 .25rem;
    color: #7f22bb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
div.inputbox{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
input[type=text], input[type=number], input[type=date], input[type=time], input[type=email]{
    font-size: 1.25rem;
    max-width: calc(100% - 1rem);
    border: 3px solid #ed781a;
    padding: .5rem;
    border-radius: .25rem;
}
p.time-request{
    font-family: Arial, Helvetica, sans-serif;
    color: #c122bb;
    text-align: center;
}
div.action{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
input[type=submit]{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 3px solid #ed781a;
    margin: 2rem;
    background-color: #c122bb;
    color: #ed781a;
}
input:hover[type=submit]{
    background-color: green;
    color: #edac1a;
}
div.img-contact{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
div.img-contact img{
    width: 70%;
    border: 8px solid #7f22bb;
}
.h2-contacts{
    text-align: center;
}
.h3-contacts{
    text-align: center;
    font-size: 3rem;
}
.h4-contacts{
    text-align: center;
    font-size: 2rem;
}
.a-contacts{
    color: #7f22bb;
    text-decoration: none;
}
.a-contacts:hover{
    color: #c122bb;
    text-decoration: underline;
}
.p-address{
    text-align: center;
}
.big{
    border: 5px solid #ed781a;
}
.small{
    border: 3px solid #7f22bb
}
@media (min-width:500px){
    .hamburger{
        display: none;
    }
    header img.logo{
        width: 10%;
    }
    header nav{
        position: static;
        background-color: unset;
        width: unset;
    }
    header nav a{
        border: none;
        padding: 2rem;
        display: inline-block;
        font-size: 2rem;
    }
    header nav a:hover{
        color: #edac1a;
        text-decoration: underline;
    }
    .h1{
        font-size: 8rem;
    }
    h2{
        font-size: 6rem;
    }
    p{
        font-size: 2rem;
    }
    div.drinks-home img{
        width: 35%;
    }
    div.p-about p{
        margin: 1.5rem;
    }
    div.product-menu img{
        width: 30%;
    }
    form>label{
        display: block;
        font-size: 3rem;
        margin: 1.5rem .5rem 1rem;
    }
    div.inputbox{
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
    }
    input[type=text], input[type=number], input[type=date], input[type=time], input[type=email]{
        font-size: 2rem;
        padding: 1rem;
        border-radius: .5rem;
    }
    div.action{
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
    }
    input[type=submit]{
        font-size: 3rem;
        padding: 1rem;
        border-radius: 2rem;
        border: 3px solid #ed781a;
        margin: 2rem;
        color: #edac1a;
    }
    .p-contacts{
        margin: 2rem;
        text-align: center;
    }
    .h3-contacts{
        font-size: 4.5rem;
    }
    .h4-contacts{
        font-size: 3rem;
    }
}