body{
    background-color: #edac1a;
}
header{
    background-color: #7f22bb;
    margin: 0;
}
header img.logo{
    width: 20%;
    margin: .5rem;
}
.hamburger{
    width: 50px;
    padding: 1rem;
}
.hamburger hr{
    margin: .75 0;
    border: 2px solid #ed781a;
}
header nav{
    background-color: #c122bb;
    position: fixed;
    width: 75%;
    top: 7.5rem;
}
header nav a{
    display: block;
    color: #ed781a;
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    border: 2px solid black;
}
header nav{
    left: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav.show{
    left: 7.2rem;
}
header nav{
    transition-property: left;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
nav a:hover{
    color: #edac1a;
    text-decoration: underline;
}
img.drunken-mocha{
    width: 40rem;
    max-width: 100%;
    display: flex;
    align-items: center;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: #7f22bb;
    text-align: center;
    font-size: 3rem;
}
section p{
    margin: 1rem;
}
img.homebase{
    width: 40rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #c122bb;
}